<div class="container well-lg">
    <div class="row">
        <legend>
            <h1>Benefits of preservation</h1>
        </legend>
    </div>
    <div class="row well">
        <legend>
            <h3>Reproducing blood and immune system</h3></legend>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well">
                <p>Cord blood stem cells are used to treat nearly 80 debilitating diseases and have been used in more than 30,000 transplants.  In the event your child contracts a disease, which must be treated with chemotherapy or radiation, there is a probability of a negative impact on the immune system. If you have previously banked your child’s cord blood and tissue, the preserved umbilical cord blood stem cells may be used to bolster and repopulate your child’s blood and immune system.
                </p>
            </div>
        </div>
    </div>
    <div class="row well">
        <legend>
            <h3>Non-invasive extraction method</h3></legend>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well well-sm">
                <p>Stem cells from umbilical cord blood and cord tissue can easily be extracted, resulting in no risk or pain for the mother or baby..
                </p>
            </div>
        </div>
    </div>
    <div class="row well">
        <legend>
            <h3>Immediately available for treatment with no retrevial fee</h3></legend>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well">
                <p>Stem cells banked with us, are readily accessible, allowing treatment to begin earlier if required, with no time wasted in the search and matching process which are required for publicly banked stem cells. There is no cost to retrieve your baby’s stored stem cells if they are ever needed for transplant. However, there may be a fee associated with further testing required for transplant and transportation of the product to the transplant facility.
                </p>
            </div>
        </div>
    </div>
</div>
