<div class="container well-lg">
    <div class="row">
        <legend>
            <h1>Stemcell Banking Process</h1>
        </legend>
    </div>
    <div class="well">
        <div class="row well">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <legend>
                    <h2>The Umbilical Cord Blood and Cord Tissue Banking Process</h2>
                </legend>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>For most expecting parents, the cord blood preservation process is a new experience. Most consider it to be a complex process. However, when one gets a better understanding of the concept, the easier it becomes. For each step of the banking process, Arete Lifesciences has carefully studied, designed and selected the best material, best methods and implemented the best processes to safeguard specimens in its care.</p>
            </div>
        </div>
        <div class="row well">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <legend>
                    <h3>Collection process:</h3></legend>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class=" list-group">
                    <span class="list-group-item">
                    Arete uses a heparin based cord blood collection bags as recommended by the US FDA. The specially designed collection kit has been scientifically validated to safeguard stemcells longer than kits used by other cord blood banks in the industry. Cord tissue sample is transported in antibiotic solution for optimal preservation and protection against bacterial contamination
                </span>
                    <span class="list-group-item">Cord blood collection begins with your healthcare provider collecting the cord blood from your baby’s umbilical cord immediately at the time of baby birth, but generally before the placenta is delivered. After the placenta is delivered, the cord tissue is then collected. There is absolutely no pain or risk to the mother or child during the collection process since the blood is taken from the cord after it has been clamped and cut. Cord blood and cord tissue collections are safe for both vaginal and cesarean deliveries.</span>
                    <span class="list-group-item">
                The maternal blood is also collected during delivery, to be tested for certain infectious diseases as mandated by federal regulations. 
                </span>
                    <span class="list-group-item">A representative of the Company will be present to coordinate with the sample logistics Company in order to get the sample transported to the laboratory for necessary processing.</span>
                </div>
            </div>
        </div>
        <div class="row well">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <legend>
                    <h3>Testing and processing</h3>
                </legend>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Usually within 36 to 48 hours of collection, the cord blood and tissue are tested, processed, and cryogenically stored.</p>
                <div class="list-group">
                    <span class="list-group-item">Maternal blood is tested for infectious diseases.</span>
                    <span class="list-group-item">
                Each cord blood/cord tissue specimen is tested for microbiological contamination.
                </span>
                    <span class="list-group-item">
                To maxmise recovery of stem cells, Arete makes use of Sepax 2 and manual methods to separate and isolate cells. The method depletes upto 99% of the red blood cells and recovers the highest number of Colony Forming Units (CFUs), which are the best predictor for patient outcomes.
                </span>
                </div>
            </div>
        </div>
        <div class="row well">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <legend>
                    <h3>Cryopreservation</h3></legend>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="list-group">
                    <span class="list-group-item">Both the cord blood and cord tissue are over-wrapped for extra protection against cross contamination during storage. All specimens are stored in the vapor phase of liquid nitrogen for cryogenic preservation, at the constant temperature ~ -196o Celsius.
</span>
                    <span class="list-group-item">Cryobags with multiple removable segments are used to facilitate cryopreservation and potential future blood type matching and testing.</span>
                    <span class="list-group-item">The storage facilities have the following features: Built as a reinforced bunker to withstand the worst possible natural disasters</span>
                    <span class="list-group-item">Constantly monitored for security and temperature </span>
                    <span class="list-group-item">Equipped with a comprehensive emergency infrastructure
</span>
                </div>
                <p>Arete is the only Indian stem cell bank that takes the following measures in compliance with the highest international transplant standards to preserve more future testing samples for clients:</p>
                <div class="list-group">
                    <span class="list-group-item">Collect and store additional sample of maternal blood
</span>
                    <span class="list-group-item">Only Company is all of Asia to offer processing and preservation of platelet rich plasma derived from the umbilical cord blood</span>
                </div>
            </div>
        </div>
        <div class="row well">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <legend>
                    <h3>Arete Lifesciences Certificate</h3>
                </legend>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Within 6-8 weeks of sample collection, the family receives the certificate of ownership. Included in the certificate would be details of the many test conducted, processing results, stem cell count being cryopreserved and safeguarded by the Company.
                </p>
            </div>
        </div>
    </div>
</div>
