<div class="container well-lg">
    <div class="row">
        <legend>
            <h1 class="landingPageHeader">Treatable diseases</h1>
        </legend>
    </div>
    <div class="row well list-group">
        <legend>
            <h3>Below is the list of diseases for which stem cells are being used as a standard treatment option:</h3>
        </legend>
        <div class="row well">
            <h2>Current Stem Cell Applications</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Acute Lymphoblast Leukemia (ALL)</span>
                <span class="btn btn-xs btn-info">Acute Myelogenous Leukemia (AML)</span>
                <span class="btn btn-xs btn-info">Acute Biphenotypic Leukemia
                </span>
                <span class="btn btn-xs btn-info">Acute Undifferentiated Leukemia</span>
            </div>
        </div>
        <div class="row well">
            <h2>Chronic Leukemia’s</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Chronic Myelogenous Leukemia (CML)</span>
                <span class="btn btn-xs btn-info">Chronic Lymphocytic Leukemia (CLL)</span>
                <span class="btn btn-xs btn-info">Juvenile Chronic Myelogenous Leukemia (JCML)</span>
                <span class="btn btn-xs btn-info">Juvenile Myelomonocytic Leukemia (JMML)</span>
            </div>
        </div>
        <div class="row well">
            <h2>Myelodysplastic Syndromes</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Refractory Anemia (RA)</span>
                <span class="btn btn-xs btn-info">Refractory Anemia with Ringed Sideroblasts (RARS)</span>
                <span class="btn btn-xs btn-info">Refractory Anemia with Excess Blasts (RAEB)</span>
                <span class="btn btn-xs btn-info">Refractory Anemia with Excess Blasts in Transformation (RAEB-T)</span>
                <span class="btn btn-xs btn-info">Chronic Myelomonocytic Leukemia (CMML)</span>
            </div>
        </div>
        <div class="row well">
            <h2>Stem Cell Disorders
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Aplastic Anemia (Severe)</span>
                <span class="btn btn-xs btn-info">Fanconi Anemia</span>
                <span class="btn btn-xs btn-info">Paroxysmal Nocturnal Hemoglobinuria (PNH)</span>
                <span class="btn btn-xs btn-info">Pure Red Cell Aplasia</span>
            </div>
        </div>
        <div class="row well">
            <h2>Myeloproliferative Disorders</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Acute Myelofibrosis</span>
                <span class="btn btn-xs btn-info">Polycythemia Vera</span>
                <span class="btn btn-xs btn-info">Essential Thrombocythemia</span>
            </div>
        </div>
        <div class="row well">
            <h2>Phagocyte Disorders
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Chediak-Higashi Syndrome</span>
                <span class="btn btn-xs btn-info">Chronic Grandivomatous Disease</span>
                <span class="btn btn-xs btn-info">Neutrophil Actin Deficiency</span>
                <span class="btn btn-xs btn-info">Reticdivar Dysgenesis</span>
            </div>
        </div>
        <div class="row well">
            <h2>Other Inherited Disorders
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Lesch-Nyhan Syndrome</span>
                <span class="btn btn-xs btn-info">Cartilage-Hair Hypoplasia</span>
                <span class="btn btn-xs btn-info">Glanzmann Thrombasthenia</span>
                <span class="btn btn-xs btn-info">Osteopetrosis</span>
                <span class="btn btn-xs btn-info">Adrenoleukodystrophy</span>
            </div>
        </div>
        <div class="row well">
            <h2>Other Malignancies
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Ewing Sarcoma</span>
                <span class="btn btn-xs btn-info">Neuroblastoma</span>
                <span class="btn btn-xs btn-info">Renal Cell Carcinoma</span>
                <span class="btn btn-xs btn-info">Retinoblastoma</span>
            </div>
        </div>
        <div class="row well">
            <h2>Inherited Platelet Abnormalities
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Amegakaryocytosis / Congenital Thrombocytopenia</span>
            </div>
        </div>
        <div class="row well">
            <h2>Inherited Metabolic Disorders
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Mucopolysaccharidoses (MPS)</span>
                <span class="btn btn-xs btn-info">Hurler’s Syndrome (MPS-IH)</span>
                <span class="btn btn-xs btn-info">Scheie Syndrome (MPS-IS)</span>
                <span class="btn btn-xs btn-info">Hunter’s Syndrome (MPS-II)</span>
                <span class="btn btn-xs btn-info">Sanfilippo Syndrome (MPS-III)</span>
                <span class="btn btn-xs btn-info">Morquio Syndrome (MPS-IV)</span>
                <span class="btn btn-xs btn-info">Maroteaux-Lamy Syndrome (MPS-VI)</span>
                <span class="btn btn-xs btn-info">Sly Syndrome, Beta-Glucuronidase Deficiency (MPS-VII)</span>
                <span class="btn btn-xs btn-info">Adrenoleukodystrophy Mucolipidosis II (I-cell Disease)</span>
                <span class="btn btn-xs btn-info">Krabbe Disease</span>
                <span class="btn btn-xs btn-info">Gaucher’s Disease</span>
                <span class="btn btn-xs btn-info">Niemann-Pick Disease</span>
                <span class="btn btn-xs btn-info">Wolman Disease</span>
                <span class="btn btn-xs btn-info">Metachromatic Leukodystrophy</span>
            </div>
        </div>
        <div class="row well">
            <h2>Histiocytic Disorders
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Familial Erythrophagocytic Lymphohistiocytosis</span>
                <span class="btn btn-xs btn-info">Histiocytosis-X</span>
                <span class="btn btn-xs btn-info">Hemophagocytosis</span>
            </div>
        </div>
        <div class="row well">
            <h2>Inherited Erythrocyte Abnormalities
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Beta Thalassemia Major</span>
                <span class="btn btn-xs btn-info">Sickle Cell Disease</span>
            </div>
        </div>
        <div class="row well">
            <h2>Inherited Immune System Disorders
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Ataxia-Telangiectasia</span>
                <span class="btn btn-xs btn-info">Kostmann Syndrome</span>
                <span class="btn btn-xs btn-info">Leukocyte Adhesion Deficiency</span>
                <span class="btn btn-xs btn-info">DiGeorge Syndrome</span>
                <span class="btn btn-xs btn-info">Bare Lymphocyte Syndrome</span>
                <span class="btn btn-xs btn-info">Omenn’s Syndrome</span>
                <span class="btn btn-xs btn-info">Severe Combined Immunodeficiency (SCID)</span>
                <span class="btn btn-xs btn-info">SCID with Adenosine Deaminase Deficiency</span>
                <span class="btn btn-xs btn-info">Absence of T & B Cells SCID</span>
                <span class="btn btn-xs btn-info">Absence of T Cells, Normal B Cell SCID</span>
                <span class="btn btn-xs btn-info">Common Variable Immunodeficiency</span>
                <span class="btn btn-xs btn-info">Wiskott-Aldrich Syndrome</span>
                <span class="btn btn-xs btn-info">X-Linked Lymphoproliferative Disorder</span>
                <span class="btn btn-xs btn-info">Metachromatic Leukodystrophy</span>
            </div>
        </div>
        <div class="row well">
            <h2>Plasma Cell Disorders
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Mdivtiple Myeloma</span>
                <span class="btn btn-xs btn-info">Plasma Cell Leukemia</span>
                <span class="btn btn-xs btn-info">Waldenstrom's Macroglobdivinemia</span>
                <span class="btn btn-xs btn-info">Amyloidosis</span>
            </div>
        </div>
        <div class="row well">
            <h2>Lymphoproliferative Disorders
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Non-Hodgkin’s Lymphoma</span>
                <span class="btn btn-xs btn-info">Hodgkin’s Disease</span>
            </div>
        </div>
        <div class="row well">
            <h2>Potential Future Applications
            </h2>
            <div class="">
                <span class="btn btn-xs btn-info">Alzheimer’s Disease</span>
                <span class="btn btn-xs btn-info">ALS/Lou Gehrig’s Disease</span>
                <span class="btn btn-xs btn-info">Cardiac Disease</span>
                <span class="btn btn-xs btn-info">Cerebral Palsy</span>
                <span class="btn btn-xs btn-info">Diabetes</span>
                <span class="btn btn-xs btn-info">Epidermolysis Bdivlosa (rare genetic skin disease)</span>
                <span class="btn btn-xs btn-info">Huntington’s Disease</span>
                <span class="btn btn-xs btn-info">Lupus</span>
                <span class="btn btn-xs btn-info">Mdivtiple Sclerosis</span>
                <span class="btn btn-xs btn-info">Muscdivar Dystrophy</span>
                <span class="btn btn-xs btn-info">Parkinson’s Disease</span>
                <span class="btn btn-xs btn-info">Rheumatoid Arthritis</span>
                <span class="btn btn-xs btn-info">Spinal Cord Injury</span>
                <span class="btn btn-xs btn-info">Stroke</span>
            </div>
        </div>
        <h2>List of Conditions Treated by PRP
        </h2>
        <div class="row well">
            <h2>Cosmetics and trichology</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Hair growth</span>
                <span class="btn btn-xs btn-info">Hair Loss (Scalp Balding)</span>
                <span class="btn btn-xs btn-info">Reduces wrinkles</span>
                <span class="btn btn-xs btn-info">Anti-aging regimen</span>
            </div>
        </div>
        <div class="row well">
            <h2>Wound healing</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Burn injuries</span>
                <span class="btn btn-xs btn-info">Diabetic foot divcer</span>
            </div>
        </div>
        <div class="row well">
            <h2>Spine</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Sacroiliac Joint</span>
                <span class="btn btn-xs btn-info">Iliolumbar Ligaments</span>
                <span class="btn btn-xs btn-info">Facet Joints</span>
                <span class="btn btn-xs btn-info">Interspinous Ligaments</span>
            </div>
        </div>
        <div class="row well">
            <h2>Shodivders</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Rotator Cuff--Partial Tears</span>
                <span class="btn btn-xs btn-info">Biceps Tendinosis</span>
                <span class="btn btn-xs btn-info">Chronic Glenohumeral Ligament Sprains</span>
                <span class="btn btn-xs btn-info">Acromio-Clavicdivar Joint Dysfunction and Pain</span>
                <span class="btn btn-xs btn-info">Levator Scapdivae Tendinosis</span>
            </div>
        </div>
        <div class="row well">
            <h2>Elbows</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Lateral epicondylitis (Tennis elbow)</span>
                <span class="btn btn-xs btn-info">Medial epicondylitis (Golfer’s elbow)</span>
                <span class="btn btn-xs btn-info">divnar Collateral Ligament Injury</span>
                <span class="btn btn-xs btn-info">Distal Biceps Tendon Partial Tear</span>
            </div>
        </div>
        <div class="row well">
            <h2>Wrist & Hand</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Chronic Thumb Sprain</span>
                <span class="btn btn-xs btn-info">Joint Arthritis</span>
                <span class="btn btn-xs btn-info">Arthritic Joints</span>
            </div>
        </div>
        <div class="row well">
            <h2>Osteoarthritis (Arthritic Conditions) Hip/Pelvis/SI joints</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Piriformis Syndrome</span>
                <span class="btn btn-xs btn-info">Greater Trochanteric Bursitis</span>
                <span class="btn btn-xs btn-info">Sacroiliac Joint Dysfunction</span>
                <span class="btn btn-xs btn-info">Ischial Tuberosity Bursitis</span>
                <span class="btn btn-xs btn-info">Hip Joint Arthritis</span>
                <span class="btn btn-xs btn-info">Osteonecrosis of the Femoral Head</span>
                <span class="btn btn-xs btn-info">Symphysis Pubis Pain</span>
            </div>
        </div>
        <div class="row well">
            <h2>Knee</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Patellar Tendonitis/Tendinosis</span>
                <span class="btn btn-xs btn-info">Osgood-Schlatter's Disease</span>
                <span class="btn btn-xs btn-info">Quadraceps Strain or Partial Tear</span>
                <span class="btn btn-xs btn-info">Degenerative Arthritis</span>
                <span class="btn btn-xs btn-info">Rheumatoid Arthritis</span>
                <span class="btn btn-xs btn-info">Chondromalacia Patella</span>
                <span class="btn btn-xs btn-info">Enthesopathy</span>
            </div>
        </div>
        <div class="row well">
            <h2>Lower Leg</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Calf Pain</span>
            </div>
        </div>
        <div class="row well">
            <h2>Ankle & Foot</h2>
            <div class="">
                <span class="btn btn-xs btn-info">Chronic Ligament Strains</span>
                <span class="btn btn-xs btn-info">Chronic Achilles Tendinosis</span>
                <span class="btn btn-xs btn-info">Chronic Partial Tendon Tear</span>
                <span class="btn btn-xs btn-info">Plantar Fascitis</span>
            </div>
            <hr>
        </div>
    </div>
