<div class="container well-lg">
    <div class="row">
        <legend>
            <h1>Unique Power of Stem cells</h1>
        </legend>
    </div>
    <div class="row well">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <legend>
                <h3>Power Of Stem Cells</h3>
            </legend>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well">
                <p>Stem cells lay the very foundation of our bodies. Every part of the human body including skin, bones, blood and organs are formed from stem cells. Stem cells can replicate and turn into any type of cell in the body such as the muscle cell, heart cell, blood cell, bone cell and so on. These stem cells also play the repair function in the human body by replacing old cells with new cells. These stem cells have the amazing power to repair &amp; regenerate our body’s tissues and organs, making a big impact in our lives today. Medical research has shown that stem cells can be used for the treatment of several life threatening medical conditions. In the past 50 years, over a million people suffering from various conditions have benefitted from the power of stem cells and are now living a renewed life.</p>
            </div>
        </div>
    </div>
    <div class="row well">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <legend>
                <h3>What are stem cells?</h3></legend>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well">
                <p>Stem cells have the remarkable potential to develop into many different cell types in the body during early life and growth. In addition, in many tissues they serve as a sort of internal repair system, dividing essentially without limit to replenish other cells as long as the person is still alive. When a stem cell divides, each new cell has the potential either to remain a stem cell or become another type of cell with a more specialized function, such as a muscle cell, a red blood cell, or a brain cell. Stem cells differ from other kinds of cells in the body. All stem cells—regardless of their source—have three general properties: they are capable of dividing and renewing themselves for long periods; they are unspecialized; and they can give rise to specialized cell types.</p>
            </div>
        </div>
        <button class="btn btn-info" data-toggle="collapse" data-target="#demo">Read More</button>
        <br>
        <br>
        <div id="demo" class="collapse">
            <div class="well container-fluid">
                <div class="row well">
                    <legend>
                        <h3>Stem cells are capable of dividing and renewing themselves for long periods.</h3></legend>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="well">
                            <p>Unlike muscle cells, blood cells, or nerve cells—which do not normally replicate themselves—stem cells may replicate many times, or proliferate. A starting population of stem cells that proliferates for many months in the laboratory can yield millions of cells.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row well">
                    <legend>
                        <h3>Stem cells are capable of dividing and renewing themselves for long periods.</h3></legend>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="well">
                            <p>Unlike muscle cells, blood cells, or nerve cells—which do not normally replicate themselves—stem cells may replicate many times, or proliferate. A starting population of stem cells that proliferates for many months in the laboratory can yield millions of cells.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row well">
                    <legend>
                        <h3>Stem cells are unspecialized.</h3></legend>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="well">
                            <p>One of the fundamental properties of a stem cell is that it does not have any tissue-specific structures that allow it to perform specialized functions. For example, a stem cell cannot work with its neighbors to pump blood through the body (like a heart muscle cell), and it cannot carry oxygen molecules through the bloodstream (like a red blood cell). However, unspecialized stem cells can give rise to specialized cells, including heart muscle cells, blood cells, or nerve cells..
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row well">
                    <legend>
                        <h3>Stem cells can give rise to specialized cells.</h3></legend>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="well">
                            <p>When unspecialized stem cells give rise to specialized cells, the process is called differentiation. While differentiating, the cell usually goes through several stages, becoming more specialized at each step. Scientists are just beginning to understand the signals inside and outside cells that trigger each step of the differentiation process. The internal signals are controlled by a cell&#39;s genes, which are interspersed across long strands of DNA, and carry coded instructions for all cellular structures and functions. The external signals for cell differentiation include chemicals secreted by other cells, physical contact with neighboring cells, and certain molecules in the microenvironment. The interaction of signals during differentiation causes the cell&#39;s DNA to acquire epigenetic marks that restrict DNA expression in the cell and can be passed on through cell division.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <legend>
                    <h2>What are stem cells?</h3>
                        </legend>
                    </div>
                    <div class="row well">
                        <legend>
                            <h3>Embryonic stem cells</h3></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="well">
                                <p>Embryonic stem cells are derived from a four- or five-day- old human embryo that is in the blastocyst phase of development. The embryos are usually extras that have been created in IVF (in vitro fertilization) clinics where several eggs are fertilized in a test tube, but only one is implanted into a woman. Sexual reproduction begins when a male&#39;s sperm fertilizes a female&#39;s ovum (egg) to form a single cell called a zygote. The single zygote cell then begins a series of divisions, forming 2, 4, 8, 16 cells, etc. After four to six days - before implantation in the uterus - this mass of cells is called a blastocyst. The blastocyst consists of an inner cell mass (embryoblast) and an outer cell mass (trophoblast). The outer cell mass becomes part of the placenta, and the inner cell mass is the group of cells that will differentiate to become all the structures of an adult organism. This latter mass is the source of embryonic stem cells - totipotent cells (cells with total potential to develop into any cell in the body). In a normal pregnancy, the blastocyst stage continues until implantation of the embryo in the uterus, at which point the embryo is referred to as a fetus. This usually occurs by the end of the 10th week of gestation after all major organs of the body have been created. However, when extracting embryonic stem cells, the blastocyst stage signals when to isolate stem cells by placing the &quot;inner cell mass&quot; of the blastocyst into a culture dish containing a nutrient-rich broth. Lacking the necessary stimulation to differentiate, they begin to divide and replicate while maintaining their ability to become any cell type in the human body. Eventually, these undifferentiated cells can be stimulated to create specialized cells.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row well">
                        <legend>
                            <h3>Adult stem cells</h3>
                        </legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="well">
                                <p>Adult or somatic stem cells exist throughout the body after embryonic development and are found inside of different types of tissue. These stem cells have been found in tissues such as the brain, bone marrow, blood, blood vessels, skeletal muscles, skin, and the liver. They remain in a quiescent or non-dividing state for years until activated by disease or tissue injury. Adult stem cells can divide or self-renew indefinitely, enabling them to generate a range of cell types from the originating organ or even regenerate the entire original organ. It is generally thought that adult stem cells are limited in their ability to differentiate based on their tissue of origin, but there is some evidence to suggest that they can differentiate to become other cell types. Adult stem cells can be isolated from the body in different ways, depending on the tissue. Blood stem cells, for example, can be isolated from a donor’s bone marrow, from blood in the umbilical cord when a baby is born, or from a person’s circulating blood. Mesenchymal stem cells, which can make bone, cartilage, fat, fibrous connective tissue, and cells that support the formation of blood can be isolated from bone marrow and umbilical cord.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
