<div class="container">
    <br>
    <div class="well">
        <legend>
            <h1>Banking plans</h1>
        </legend>
        <br>
        <div class="table table-responsive" id="pricingTable">
            <table class="table">
                <thead>
                    <tr>
                        <th>Plans</th>
                        <th>Particulars</th>
                        <th>First Year's Fee</th>
                        <th>Yearly Fee from Second Years Onwards</th>
                        <th>21 Years-One time payment option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="btn btn-success">Premium</button>
                        </td>
                        <td>UCB & PRP</td>
                        <td>40,000</td>
                        <td>3,000</td>
                        <td>70,000</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-info">Classic</button>
                        </td>
                        <td>UCB & UC</td>
                        <td>52,000</td>
                        <td>3,000</td>
                        <td>82,000</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-primary">Platinum</button>
                        </td>
                        <td>UCB & UC & PRP</td>
                        <td>70,000</td>
                        <td>3,500</td>
                        <td>110,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="well">
            <b>All fees to be paid by the Client at the time of Enrolment.</b>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Includes all charges – Enrolment fee, Sample collection fee, Sample pick-up & transportation fees, fee for infectious.</li>
            <li class="list-group-item">diseases screening test on the Maternal Blood, Sample Processing fee, Cryopreservation fee for specified durationbased on the banking plan chosen.</li>
            <li class="list-group-item">Client is not liable to pay any additional fee at the time of retrieving the cryopreserved Product.</li>
        </ul>
    </div>
</div>
