<div ng-controller="HomeController">
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="customizedHeader" style=" color:#fff;background:none">Landing Page</h1>
                        <h3 class="customizedHeader" style="color:#fff;background:none">Slide Show or Company Info</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <a name="services"></a>
    <div class="banner servicesContent">
        <div class="container" style="text-align:center;">
            <h1 class="landingPageHeader" style="color:#fff">Our Services</h1>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 well" style="background: transparent; border:1px solid;">
                    <h3 class="landingPageHeader" style="color:#fff">Cord blood preservation</h3>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 well" style="background: transparent; border:1px solid;">
                    <h3 class="landingPageHeader" style="color:#fff">Platelet Rich Plasma</h3>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 well" style="background: transparent; border:1px solid;">
                    <h3 class="landingPageHeader" style="color:#fff">Cord tissue preservation</h3>
                </div>
            </div>
            <span class="badge  pull-right">and many more</span>
            <div class="row">
                <button class="btn btn-info" ui-sref="services" style="margin-left: 100px;">Learn More</button>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="animateDiv">
        <a name="contact"></a>
        <div class="banner contactUsContent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>This will the content for contact Us Page</h2>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
    <hr>
</div>
<script src="assets/js/index.js"></script>
