<div class="navbarCover"> </div>
<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container fadeInUp">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background:#fff;"></span>
                <span class="icon-bar" style="background:#fff;"></span>
                <span class="icon-bar" style="background:#fff;"></span>
            </button>
            <a class="navbar-brand" id="brandLogo" href="#">Arete LifeSciences</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="aboutUs">About Us</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-Toggle" data-toggle="dropdown" style="cursor: pointer;">
                            About Stemcells
                            <span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="powerofstemcells">Unique power of stem cells</a></li>
                        <li><a ui-sref="benefits">Benefit of stem cells preservation</a></li>
                        <li><a ui-sref="treatable">Treatable diseases</a></li>
                        <li><a ui-sref="stemcellBanking">Stemcell banking process</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                            Service Offered
                            <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="cordBlood">Cord Blood and tissue Banking</a></li>
                        <li><a ui-sref="boneMarrow">Bone Marrow preservation</a></li>
                        <li><a ui-sref="peripheralBlood">Peripheral Blood banking</a></li>
                        <li><a ui-sref="eyeLenticule">Eye Lenticule preservation</a></li>
                        <li><a ui-sref="dendriticCell">Dendritic cell banking</a></li>
                        <li><a ui-sref="additonalService">Additional Services</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                            Plan and pricing
                            <span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a>Enrollment plans</a></li>
                        <li><a>Enrollment process</a></li>
                        <li><a ui-sref="pricing">Pricing</a></li>
                        <li><a>Payment options</a></li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="contactUs">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Header -->
