    /*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
    
    body,
    html {
        /* background:#ddd; */
        background: rgb(192, 230, 255);
        width: 100%;
        height: 100%;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Trebuchet ms", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        color: #34495e;
    }
    /* changes */
    
    p {
        color: #34495e;
        font-size: 18px;
        font-family: calibri light;
    }
    
    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: inherit;
        color: #fff;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        padding-left: 15px;
        font-family: trebuchet ms;
    }
    
    h1:before {
        font-family: FontAwesome;
        content: "\f0f0";
        margin-right: 5px;
    }
    
    h3:before {
        font-family: FontAwesome;
        content: "\f0fa";
        margin-right: 5px;
    }
    
    h2#aboutUsHeading:before {
        content: "\f05a";
    }
    
    nav.navbar {
        background: #4B79A1;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4B79A1, #283E51);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4B79A1, #283E51);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .navbar-default .navbar-nav>li>a {
        font-family: calibri light;
        color: #fff;
        font-size: 16px;
        font-weight: normal;
    }
    
    .navbar-default .navbar-nav>li>a:hover {
        color: lightblue;
    }
    
    .navbar-default .navbar-nav>li>a:active {
        color: #fff;
    }
    
    .list-group-item {
        color: #34495e;
        font-family: calibri light;
        font-size: 16px;
        padding: 5px 5px 5px 7px;
    }
    
    .list-group-item:before {
        font-family: FontAwesome;
        content: "\f058";
        margin-right: 10px;
    }
    
    h4 {
        margin-left: 10px;
    }
    
    h1.customizedHeader:before {
        content: none;
    }
    
    h4:before {
        font-family: FontAwesome;
        content: "\f111";
        margin-right: 10px;
    }
    
    h2:before {
        font-family: fontawesome;
        content: "\f18c";
    }
    
    .topnav {
        font-size: 14px;
    }
    
    table {
        color: #34495e;
    }
    
    a#brandLogo {
        color: #fff;
    }
    
    a#brandLogo:before {
        font-family: fontawesome;
        content: "\f0f8";
    }
    
    :before {
        margin-right: 5px;
    }
    
    div#pricingTable>table>tbody>tr>td:nth-child(1) {
        padding-top: 10px;
    }
    
    div#pricingTable>table>tbody>tr>td {
        padding-top: 15px;
    }
    /* *****************************************changes end ********************************************************/
    
    .lead {
        font-size: 18px;
        font-weight: 400;
    }
    
    .intro-header {
        padding-top: 50px;
        /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
        padding-bottom: 50px;
        text-align: center;
        color: #f8f8f8;
        background: #24C6DC;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #24C6DC, #514A9D);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #24C6DC, #514A9D);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
    }
    
    .intro-message {
        position: relative;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .intro-message > h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 5em;
    }
    
    .intro-divider {
        width: 400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .intro-message > h3 {
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    
    .network-name {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
    }
    
    .content-section-a {
        padding: 50px 0;
        background-color: #f8f8f8;
    }
    
    .content-section-b {
        padding: 50px 0;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }
    
    .section-heading {
        margin-bottom: 30px;
    }
    
    .section-heading-spacer {
        float: left;
        width: 200px;
        border-top: 3px solid #e7e7e7;
    }
    
    .banner {
        padding: 100px 0;
        color: #f8f8f8;
        background-size: cover;
    }
    
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    
    footer {
        padding: 50px 0;
        background-color: #f8f8f8;
    }
    
    p.copyright {
        margin: 15px 0 0;
    }
    /*  */
    
    .contactUsContent {
        background: #4b6cb7;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4b6cb7, #182848);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4b6cb7, #182848);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .servicesContent {
        background: #948E99;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #948E99, #2E1437);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #948E99, #2E1437);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    @media(max-width:992px) {
        .navbar-default .navbar-nav>li>a {
            padding: 15px 12px;
        }
        a#brandLogo {
            font-size: 0.9em;
        }
    }
    
    @media(max-width:767px) {
        .intro-message {
            padding-bottom: 15%;
        }
        .intro-message > h1 {
            font-size: 3em;
        }
        ul.intro-social-buttons > li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
        }
        ul.intro-social-buttons > li:last-child {
            margin-bottom: 0;
        }
        .intro-divider {
            width: 100%;
        }
    }
    /* animate.css component */
    
    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    @-webkit-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    
    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    
    div#mainContainer {
        margin-top: 50px;
    }
    /* end  */
    /* scroll to top css */
    
    .scrollToTop {
        width: 100px;
        height: 42px;
        padding: 10px;
        text-align: center;
        background: whiteSmoke;
        font-weight: bold;
        color: #444;
        text-decoration: none;
        position: fixed;
        bottom: 50px;
        right: 0px;
        display: none;
    }
    
    .scrollToTop:hover {
        text-decoration: none;
    }
    /*  */
    
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    /* end of animate.css component */
