<div class="container well-lg">
    <div class="">
        <div class="row">
            <legend>
                <h1>About US</h1>
            </legend>
        </div>
        <div class="row well">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <legend>
                    <h2 id="aboutUsHeading">Company Information</h2>
                </legend>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>Arete LIfesciences is India’s only family stem cell bank established in January 2016, to offer medical services in the field of regenerative medicine. Equipped with the state-of-the-art laboratory in Bangalore, Arete Lifesciences offers Umbilical cord blood and Umbilical cord derived stem cell banking services to expecting parents. In our constant quest to provide high value medical services to client. Arete Lifesciences is a pioneer in offering Umbilical cord blood derived Platelet Rich Plasma (PRP) banking service. .</p>
            </div>
            <button class="btn btn-info" data-toggle="collapse" data-target="#demo">Read More</button>
            <br>
            <br>
            <div id="demo" class="collapse">
                <div class="container-fluid list-group">
                    <div class="row list-group-item">
                        <legend>
                            <h4>History</h4>
                        </legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Coming soon</p>
                        </div>
                    </div>
                    <div class="row list-group-item">
                        <legend>
                            <h4>Management</h4>
                        </legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Coming soon</p>
                        </div>
                    </div>
                    <div class="row list-group-item">
                        <legend>
                            <h4>Current Management</h4>
                        </legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Coming soon</p>
                        </div>
                    </div>
                    <div class="row list-group-item">
                        <legend>
                            <h4>Technical Management</h4></legend>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Coming Soon
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
