<body>
    <div class="container well-lg">
        <div class="row">
            <legend>
                <h1>Additional services</h1>
            </legend>
        </div>
        <div class="row well">
            <div class="well">
                <legend>
                    <h3>EXPANSION OF STEM CELLS </h3>
                </legend>
                <p>
                    We also provide the unique service of expansion (growing) of all above stem cells. In ex-vivo tissue culture condition the stem cells can be expanded for clinical requirements.
                </p>
                <ul class="list-group">
                    <li class="list-group-item">By providing different cocktail of growth factors in the culture condition the expansion is possible</li>
                    <li class="list-group-item">Expansion of UC stem Cells</li>
                    <li class="list-group-item">Expansion of Bone marrow derived Hematopoietic Stem cells</li>
                    <li class="list-group-item">Expansion of Bone marrow derived Mesenchymal Stem cells</li>
                    <li class="list-group-item">Expansion of Mesenchymal Stem cells from Wharton's Jelly in Umbilical Cord</li>
                </ul>
            </div>
            <div class="well">
                <legend>
                    <h3>DIFFERENTIATION OF STEM CELLS</h3>
                </legend>
                <p>
                    We also provide the service of differentiation of the Stem cells into Cardiomyocytes, Neural Cells, Cartilage, Bone etc. for clinical use on request. By ex-vivo culture method the stem cells can be differentiated into different lineages of adult tissues. In presence of different growth factors and some special conditioned medium these cells differentiate in tissue culture condition.
                </p>
                <ul class="list-group">
                    <li class="list-group-item">Differentiation of CD34+ Cells into Neuron Cells</li>
                    <li class="list-group-item">Differentiation of Bone Marrow Cells into Pancreatic Beta Cells</li>
                    <li class="list-group-item">Differentiation of Bone Marrow Cells into Hepatocytes</li>
                    <li class="list-group-item">Differentiation of Mesenchymal Stem cells into Cardiomyocytes</li>
                    <li class="list-group-item">Differentiation of Mesenchymal Stem cells into Osteoblast (bone)</li>
                </ul>
            </div>
        </div>
    </div>
