<div class="container well-lg">
    <div class="row">
        <legend>
            <h1>Bone Marrow preservation</h1>
        </legend>
    </div>
    <div class="row well">
		<div class="well">
			<p>Bone marrow processing services to isolate Mesenchymal Stem Cells (MSCs) that are used for life saving bone marrow transplantations</p>
			<h3>BONE MARROW STEMCELL BANKING</h3>	
			<hr>
			<p>
				Bone marrow is the soft, sponge-like material found inside the bones and it contains immature cells known as hematopoietic or blood-forming stem cells. Hematopoietic stem cells divide to form more blood-forming stem cells, or they mature into one of three types of blood cells: white blood cells, which fight infection; red blood cells, which carry oxygen; and platelets, which help the blood to clot. Most hematopoietic stem cells are found in the bone marrow, but some cells, called peripheral blood stem cells (PBSCs), are found in the bloodstream. Blood in the umbilical cord also contains hematopoietic stem cells. Cells from any of these sources can be used in Bone Marrow Transplants (BMT).
			</p>	
			<br>
			<ul class="list-group">
                <li class="list-group-item">In autologous transplants, patients receive their own stem cells</li>
                <li class="list-group-item">In syngeneic transplants, patients receive stem cells from their identical twin</li>
				<li class="list-group-item">In allogeneic transplants, patients receive stem cells from their brother, sister, or parent. A person who is not related to the patient (an unrelated donor) also may be used</li>
                
            </ul>
			<button class="btn btn-info" data-toggle="collapse" data-target="#demo">Read More</button><br><br>
				<div id="demo" class="collapse">
					<p>
					BMT and Peripheral Blood Stem Cell Transplantation (PBSCT) are most commonly used in the treatment of leukemia and lymphoma. They are most effective when the leukemia or lymphoma is in remission (the signs and symptoms of cancer have disappeared). BMT and PBSCT are also used to treat other cancers such as neuroblastoma (cancer that arises in immature nerve cells and affects mostly infants and children) and multiple myeloma.
					</p><br>
					<p>
						The stem cells used in BMT come from the liquid center of the bone, called the marrow. In general, the procedure for obtaining bone marrow, which is called “harvesting,” is similar for all three types of BMTs (autologous, syngeneic, and allogeneic). Bone marrow aspiration is performed by certified medical professionals in the hospital. The doctor cleans the skin and applies a numbing medicine (local anesthesia) to the area and surface of the bone. Next, a special needle is inserted through the skin over the pelvic (hip) bone or, in rare cases, the sternum (breast bone), and into the bone marrow to draw the marrow out of the bone. The needle has a tube attached to it, which creates suction. A small sample of bone marrow fluid flows into the tube. Then the needle is removed. Harvesting the marrow takes about an hour. In most cases, 2 oz. (60 cc) of bone marrow aspirate is required. The aspirate includes platelets, mesenchymal stem cells, and other kinds of stem cells used in adult stem cell therapy. After aspiration, the bone marrow is centrifuged at a high rate of speed, and this process separates the platelets and stem cells from the remainder of the blood products. It is this concentration of bone marrow--called BMAC, or bone marrow aspiration concentrate combined with a preservative and cryopreserved until they are needed  that is reintroduced to the injured area during stem cell therapy.
					</p><br>
					<p>
						Once this is accomplished, the platelets then release signal proteins and growth factors that activate the stem cells. It's important to understand that stem cells by themselves are unable to repair the injured area. These cells have to be properly directed, and platelets perform this function. In effect, stem cells are construction workers and the platelets are their supervisors. Once they are activated, these stem cells perform a variety of valuable functions. Apart from repairing damage to the injured areas, stem cells help damaged cells repair themselves and participate in the repairing process. Stem cell therapy is a repair process that takes weeks or months to complete. Generally, the repair process takes two to three months to complete, but in most cases improvement can be noticed before then. 
					</p>
					<br><br>
					<h1>ALRERNATIVELY,</h1>
					<p>
						In certain health conditions such as before extensive chemotherapy, many doctors recommend that the patient’s bone marrow stemcells be harvested and stored. These bone marrow stem cells can then be introduced into the patient to repopulate the bone marrow. We offer bone marrow stemcell therapy service of long term storage of Bone marrow stem cells extracted from the bone marrow. This has relevance in bone marrow therapy and transplants. These bone marrow stem cells can be expanded when there is need and can be used for different clinical purposes.
					</p><br>
					<ul class="list-group">
                            <P>The procedure involves;</P>
                            <li class="list-group-item">Extraction of bone marrow ( to be done by a clinician)</li>
                            <li class="list-group-item">Enrichment of Hematopoietic stem cells population from the bone marrow</li>
                            <li class="list-group-item">Long term storage by cryopreservation</li>
                            <li class="list-group-item">Release of these cells for clinical application under request </li>
                            <li class="list-group-item">Expansion of stem cells under request</li>
                    </ul>
				</div>
				</div>
	</div>
	</div>