<div class="container well-lg">
    <div class="row">
        <legend>
            <h1>Cord Blood and tissue Banking</h1>
        </legend>
    </div>
    <div class="row well">
        <div class="well">
            <h3>Stem cell Banking</h3>
            <hr>
            <h4>UMBILICAL CORD BLOOD</h4>
            <br>
            <legend>
                <p style=""><i class="fa fa-star"></i>Processing of umbilical cord blood to isolate Hematopoietic Stem Cells (HSCs) and preservation of HSCs for clinical use</p>
            </legend>
            <p>Umbilical cord blood is the blood that remains in the vein of the umbilical cord and placenta at the time of birth. It is well established by the medical fraternity that the residual blood in the umbilical cord and placenta is a rich source of hematopoietic stem cells which if collected during the time of delivery (child birth) can yield a good quantity of hematopoietic stem cells, which potentially can be a key factor in saving lives in the field of regenerative medicine. Since Umbilical cord blood can be accessed only at child birth, it becomes necessary to collect the tissue and cryopreserve the stemcells for future therapeutic applications. Banking cord blood stemcells can change or even save a life. This type of stem cell gives rise to all the other blood cells and is the foundation of our body’s immune system. Cord blood stem cells have certain advantages over bone marrow stem cells in transplant, and have been used for 20 years to treat more than 80 life-threatening diseases and disorders with over 30,000 transplants worldwide.</p>
            <p>
                Cord blood is increasingly being preferred to bone marrow as a stem cell source because these cells are young, healthy, afford greater pliability and are "immunologically naïve" i.e. they have not been exposed to diseases and have no "immunological memory". Collecting cord blood is completely painless compared to retrieving adult stem cells from bone marrow that causes some lingering discomfort for a few days, and requires the use of an anesthetic. Several unrelated and related donor cord blood transplants done world over have proved the efficacy of cord blood transplantation, even when there were incomplete human leukocyte antigen (HLA) matching between donor and recipient.
            </p>
            <br>
            <button class="btn btn-info" data-toggle="collapse" data-target="#demo">Continue Reading...</button>
            <br>
            <br>
            <div id="demo" class="collapse">
                <legend>
                    <h3>UMBILICAL CORD</h3>
                </legend>
                <p>
                    Another excellent source of adult stem cells is the umbilical cord itself rich in mesenchymal stem cells (MSCs). These stem cells have great relevance in the field of regenerating medicine for regenerating cartilage and muscle tissues. The MSC’s have the remarkable properties of trans- differentiation and immune- modulation. Several studies have proven the ability of these cells to regenerate a number of tissues including cartilage, bone and muscle. Mesenchymal stem cells have many unique functions including the ability to inhibit inflammation following tissue damage, to secrete growth factors that aid in tissue repair, and to differentiate into many cell types including neural cells, bone cells, fat cells and cartilage. MSCs are increasingly being utilized in regenerative medicine for a wide range of conditions including heart and kidney disease, ALS, wound healing and autoimmune diseases.
                </p>
                <br>
                <p>
                    The umbilical cord can be preserved for a lifetime through the process of umbilical cord banking. Contrary to some claims by other companies, the umbilical cord cannot be preserved as a whole, without being processed. The cord has a short life unless it is processed for harvesting stem cells, which can then be preserved for extended periods of time.
                </p>
                <legend>
                    <h3>UMBILICAL CORD BLOOD STEMCELL BANKING</h3>
                </legend>
                <p>
                    It is well established by the medical fraternity that the residual blood in the umbilical cord and placenta is a rich source of hematopoietic stem cells which if collected during the time of delivery (child birth) can yield a good quantity of hematopoietic stem cells, which potentially can be a key factor in saving lives in the field of regenerative medicine.
                </p>
                <br>
                <p>As the process of child birth itself is quite complicated and has to be planned well in advance and in order get the desired cell count/yield, the collection has to be done in a closed system under the supervision of a qualified medical practitioner or by a qualified phlebotomist. During the process of child birth; after the child has been delivered and separated from the mother, post cutting the umbilical cord before the placenta is expelled, the residual blood is collected using a special collection device. The collected sample is tested for all infectious deceases as per the Drug Controller General of India (DCGI) Gazette notification which includes cord blood banking under blood banks. Sample is processed in a Class-10000 clean room to isolate hematopoietic stem cells (HSCs). These HSCs are then cryopreserved in liquid phase of nitrogen, thus facilitating later use of HSCs in the field of regenerative medicine. A final medical report is issued duly signed by a medical practitioner that contains the total nucleated cell count, CD34+ cell count, mesenchymal/ cord cell count, platelet rich plasma (PRP) count as applicable.
                </p>
                <br>
                <br>
                <p>
                    <h3>Stem Cell Banking involves the following procedures.</h3>
                </p>
                <ul class="list-group">
                    <li class="list-group-item">Collection of cord blood</li>
                    <li class="list-group-item">Infectious Disease Screening of UCB</li>
                    <li class="list-group-item">Enrichment of stem cells</li>
                    <li class="list-group-item">Separation of Platelet Rich Plasma (PRP)</li>
                    <li class="list-group-item">Cryopreservation (control rate freezing)</li>
                    <li class="list-group-item">Total Cell counts</li>
                    <li class="list-group-item">Viability Check</li>
                    <li class="list-group-item">CD 34 Analysis</li>
                    <li class="list-group-item">Stem cell Enumeration </li>
                </ul>
            </div>
            <br>
            <!-- second menu -->
            <button class="btn btn-lg btn-default" data-toggle="collapse" data-target="#demo2"><i class="fa fa-plus"></i>Processing of umbilical cord blood to isolate Platelet Rich Plasma (PRP) and preservation of PRP for clinical use(Click to Expand)</button>
            <br>
            <div id="demo2" class="collapse">
                <legend>
                    <h3>BANKING OF PLATELET RICH PLASMA (PRP)</h3>
                </legend>
                <p>
                    Cryo stemcell collects the umbilical cord blood and processes it to isolate Platelet-rich plasma (PRP) that has been enriched with platelets. As a concentrated source of autologous platelets, PRP contains (and releases through degranulation) several different growth factors and other cytokines that stimulate healing of bone and soft tissue.
                </p>
                <br>
                <p>
                    Platelet activation plays a key role in the process of wound and soft tissue healing. The use of platelet rich plasma (PRP), to promote healing of injured tendons, ligaments, muscles, and joints, can be applied to various musculoskeletal problems. PRP has been widely used in treating sports related injuries like Tennis elbow, Runner’s knee, ligament tear and even in cases of Arthritis. Notable personalities like Tiger Woods, Rafael Nadal, Russell Crowe, Kobe Bryant have successfully undergone PRP therapy.
                </p>
                <br>
                <p>
                    Furthermore, PRP helps in better proliferation of stem cells in the body. About four to six weeks after the stem cell injection, the patient receives a PRP injection on the afflicted area; this is followed by another injection four to six weeks afterward. These injections enable the stem cells to continue growth and multiply into cartilage tissue.
                </p>
            </div>
            <br>
            <!-- third menu -->
            <button class="btn btn-lg btn-default" data-toggle="collapse" data-target="#demo3"><i class="fa fa-plus"></i>Processing of umbilical cord to isolate and preserve MSCs for clinical use(Click to Expand)</button>
            <div id="demo3" class="collapse">
                <legend>
                    <h3>UMBILICAL CORD MESENCHYMAL STEMCELL BANKING</h3>
                </legend>
                <p>
                    Wharton’s Jelly present in the Umbilical Cord is rich in Mesenchymal Stem Cells which has great relevance in the field of regenerative medicine for regenerating Cartilage, Bone, Muscle and adipose tissues. MSCs, are multipotent stem cells that can differentiate into a variety of cell types, including: osteoblasts (bone cells), chondrocytes (cartilage cells) and adipocytes (fat cells). Every mother can opt for this storage for which the doctor has to send us the Umbilical Cord following the SOP (available on request).
                </p>
                <br>
                <p>
                    The stem cells in the umbilical cord are naïve and appear to be better than other sources such as bone marrow. They can be multiplied to provide billions of cells therefore providing the opportunity for being utilized many times over. They can convert to other types of cells such as cardiac, bone, fat and cartilage. This capability is now being investigated worldwide in over 100 clinical trials for applications like cardiomyopathy, osteoarthritis, multiple sclerosis, diabetes (type 1), ulcerative colitis, anemia, autism and cirrhosis of the liver, etc. They are utilized through minimally invasive procedures thereby making it very simple for use in treatments. Some important properties of MSC’s are:
                    <p>
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item">MSC’s are fibroblastic cell type</li>
                            <li class="list-group-item">They are hypo immunogenic</li>
                            <li class="list-group-item">Do not express MHC II Antigen</li>
                            <li class="list-group-item">Modulate functions of NK, CD4+/CD8+ T cells</li>
                            <li class="list-group-item">Induce suppression of local micro environment</li>
                            <li class="list-group-item">So they can escape from immune surveillance and avoid allogenic rejection</li>
                        </ul>
            </div>
        </div>
    </div>
</div>
</div>
