<div class="container well-lg">
    <div class="row">
        <legend>
            <h1>Dendritic cell banking</h1>
        </legend>
    </div>
    <div class="row well">
        <div class="well">
            <h3>DENDRITIC CELL THERAPY</h3>
            <hr>
            <p>
                This therapy consists of generating Dendritic cell vaccines from Peripheral blood mobilized Stem Cells for application in cancer therapies.
            </p>
            <div class="well">
                <h3>
				Dendritic Cells: 
			</h3>
                <p>
                    Dendritic Cells (DC) are immune cells and form part of the mammal immune system. They are present at a low frequency in those tissues which are in contact with the environment in the skin (where they are often called Langerhans Cells) and the lining of nose, lungs, stomach and intestines. Especially in immature state, they can also be found in blood. Once activated, they migrate to the lymphoid tissues where they interact with T cells and B Cells to initiate and shape the immune response. In certain stages they have long spiky arms, called dendrites from which their name is derived. While neurons also have dendrites, they are not related to Dcs. In both types of cells the dendrites seem to serve the same purpose to enable single cells to contact a large number of other cells at one time (the dendrites confer a high surface-to-volume ratio). Dendritic cells were discovered in 1973 by Ralph M Steinman and Zanvil A. Cohn
                </p>
            </div>
            <br>
            <div class="well">
                <button class="btn btn-lg btn-default" data-toggle="collapse" data-target="#demo1"><i class="fa fa-plus"></i>Isolation & Purification of Dendritic Cells&nbsp</button>
                <br>
                <br>
                <div id="demo1" class="collapse">
                    <ul class="list-group">
                        <ul class="list-group">
                            <li class="list-group-item">Dendritic cells can be derived from bone marrow, blood, spleen, as well as, CD34 positive cells derived from Umbilical Cord</li>
                            <li class="list-group-item">Blood derived dendritic cells are not good in numbers to carry out an immunization protocol.</li>
                            <li class="list-group-item">Peripheral mobilized bone marrow is the optimal starting point to generate fair amounts of Dendritic Cells for immunizations</li>
                            <li class="list-group-item">Bone marrow cells are grown in a cocktail mixture of Granulocyte-monocyte colony stimulating factors (GM-CSF) and Interleukin 4 (Il 4) for a period of 6-8 days.</li>
                            <li class="list-group-item">These cells are considered ‘immature’ and can be pulsed with tumor antigens at this stage</li>
                            <li class="list-group-item">Cells are then matured by exposing them to TNF alpha.</li>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
