<div class="container well-lg">
    <div class="row">
        <legend>
            <h1>Eye Lenticule</h1>
        </legend>
    </div>
    <div class="row well">
        <div class="well">
            <h3>PRESERVATION OF EYE LENTICULES FOR THERAPEUTIC USE IN OPHTALMOLOGY</h3>
            <hr>
            <p>
                Corneal stromal lenticules extracted after ReLEx SMILE procedure are preserved with the technique of cryopreservation for human use. Lenticules are collected and cryopreserved from patients undergoing ReLEx SMILE procedure for correction of myopia and the cryopreserved lenticules are subsequently implanted in patients with unilateral hypermetropia with amblyopia.
            </p>
        </div>
        <div class="well">
            <legend>
                <h3>LIMBAL STEM CELL THERAPY</h3>
            </legend>
            <p>
                Limbal Stem cells have certain unique characteristics, which include longevity, high capacity of self-renewal with a long cell cycle time and a short S-phase duration, increased potential for error-free proliferation, and poor differentiation. The ocular surface is made up of two distinct types of epithelial cells, constituting the conjunctival and the corneal epithelia. Although anatomically continuous with each other at the corneoscleral limbus, the two cell phenotypes represent quite distinct sub populations. Stem cells for the cornea reside at the corneoscleral limbus. The limbal palisades of Vogt and the interpalisade rete ridges are believed to be repositories of stem cells. The microenvironment of the limbus is considered to be important in maintaining the stemness of stem cells. Limbal stem cells also act as a "barrier" to conjunctival epithelial cells and normally prevent them from migrating on to the corneal surface. Under certain conditions, however, the limbal stem cells may be partially or totally depleted, resulting in varying degrees of stem cell deficiency with resulting abnormalities in the corneal surface. Such deficiency of limbal stem cells leads to "conjunctivalization" of the cornea with vascularization, appearance of goblet cells, and an irregular and unstable epithelium. This results in ocular discomfort and reduced vision. Partial stem cell deficiency can be managed by removing the abnormal epithelium and allowing the denuded cornea, especially the visual axis, to resurface with cells derived from the remaining intact limbal epithelium. In total stem cell deficiency, autologous limbus from the opposite normal eye or homologous limbus from living related or cadaveric donors can be transplanted on to the affected eye. With the latter option, systemic immunosuppression is required. Amniotic membrane transplantation is a useful adjunct to the above procedures in some instances.
            </p>
        </div>
    </div>
</div>
</div>
