<div class="container well-lg">
    <div class="row">
        <legend>
            <h1>Peripheral Blood banking</h1>
        </legend>
    </div>
    <div class="row well">
		<div class="well">
			<h3>PERIPHERAL BLOOD MOBILISED STEMCELL BANKING</h3>
			<hr>
			<p>
				We offer the service of long term storage of Peripheral Blood stem cells which is mobilized from the peripheral blood of the patient. This has relevance in cancer related therapies. As extraction of bone marrow from the patients is a painful process, the mobilization of stem cells from bone marrow into peripheral blood by pheresis method is a widely acceptable method. By this method Hematopoietic Stem Cells can be mobilized from Bone Marrow into the peripheral blood in presence of G-CSF (Granulocyte-Colony Stimulating Factor) and by pherisis method the stem cells can be enriched when the remaining blood cells can be reimplanted into the patient’s circulation.
			</p>	
			<p>
				The stem cells used in PBSCT come from the bloodstream. A process called apheresis or leukapheresis is used to obtain PBSCs for transplantation. For 4 or 5 days before apheresis, the donor may be given a medication to increase the number of stem cells released into the bloodstream. In apheresis, blood is removed through a large vein in the arm or a central venous catheter (a flexible tube that is placed in a large vein in the neck, chest, or groin area). The blood goes through a machine that removes the stem cells. The blood is then returned to the donor and the collected cells are stored. Apheresis typically takes 4 to 6 hours. The stem cells are then frozen until they are given to the recipient.
			</p><br><br>
		</div>
	</div>
	</div>
	</div>
