<style>
#map {
    height: 400px;
}
</style>
<div class="container">
    <div class="row">
        <div class="row">
            <legend>
                <h1>Contact Us</h1>
            </legend>
        </div>
        <div class="well col-xs-12 col-sm-12 col-md-3 col-lg-3 " style="height:400px">
            <span class="badge"><i class="fa fa-location-arrow"></i></span>
            <p style="font-size:21px">#6, 14th Main,
                <br> 100ft Road, 5th Sector
                <br> HSR Layout,
                <br> Bangalore - 560102
                <br> Karnataka
                <br> India
                <br><span class="badge"><i class="fa fa-mobile-phone"></i></span>
                <br> Contact no: # 1800-
                <br><span class="badge"><i class="fa fa-envelope"></i></span>
                <br>Email:</span>
                <br>info@aretelifesciences.com
                <br>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 container-fluid" id="map">
            <script>
            function initMap() {
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, {
                    center: {
                        lat: 12.91480,
                        lng: 77.63820
                    },
                    zoom: 16
                });
            }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
        </div>
    </div>
</div>
